.root {
  table {
    border-collapse: collapse;
    tr:not(:last-child) {
      border-bottom: 1px solid black;
    }
    th {
      padding: 0;
    }
    td:not(:last-child),
    th:not(:last-child) {
      border-right: 1px solid black;
    }
    .one {
      width: 210px;
    }
    .two {
      width: 110px;
    }
    .three, input {
      width: 110px;
    }
    .four {
      width: 90px;
    }
    input {
      line-height: 18px;
      padding: 0;
    }
    .headline {
      background-color: #c5e6f8;
    }
  }
}